<div id="overlay2">
</div>

<div class="modal" id="accountModal2">
    <form class="accountForm">
        <div class="closeButton">X</div>
        <input class="formElement" id="accountFirstName2" type="text" name="fname" placeholder="FIRST NAME" required>
        <input class="formElement" id="accountLastName2" type="text" name="lname" placeholder="LAST NAME" required>
        <select class="formElement" id="accountCreditCard2" name="card">
            <option value="mastercard">MasterCard</option>
            <option value="Visa">Visa</option>
            <option value="AmericanExpress">American Express</option>
        </select>
        <input class="formElement" id="accountCreditCardNumber2" type="text" name="creditNumber" placeholder="CREDIT CARD NUMBER" required="number" requiredLength="16" title="not a valid credit card number">
        <input id="accountSubmitPayment" type="submit" value="Place your Order">
    </form>
</div>