<div id="navbar">

    <ul>
        <li id="home">
            <a href="home.php">Box Office</a>
        </li>
        <li>
            <a href="#">Films</a>
            <ul id="sportDropdown">
                <!-- DYNAMICALLY POPULATED -->
            </ul>
        </li>
        <li id="mySports">
            <a href="studentHome.php">My Films</a>
        </li>
        <li id="adminPortal">
            <a href="adminPortal.php">Admin stuff</a>
        </li>
    </ul>



    <div id="accountArea">
        <div id="createAccount" value="Create Account">Create Account</div>
        <form id="navLoginForm">
            <input id="navEmail" name="username" type="text" value="" placeholder="email" required>
            <input id="navPassword" name="password" type="password" value="" placeholder="password" required>
            <input id="navLoginButton" name="submit" type="submit" value="Login">
        </form>
        <!-- <div class="login"> Login/Signup </div> -->
        <div id="logout"> </div>
        <div id="loginInformation"></div>

    </div>
</div>